<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Component de prueba para hacer otras cosas</h4>
                <hr>
                <div>
                    <label for="">Loading: {{ MostrarLoading }}</label>
                </div>
                <hr>
                <div *ngFor="let item of mostrarIngresos ">
                    <label for="">{{ item.descripcion | Upper }}</label> &nbsp;
                    <label for="">{{ item.monto | currency }}</label> &nbsp;
                    <label for="">{{ item.tipo }}</label>
                </div>
                <hr>
                <div>
                    <label for="">Informacion Usuario: {{ mostrarInfoUser!.uid }}</label>&nbsp;
                    <label for="">{{ mostrarInfoUser!.nombre  }}</label> &nbsp;
                    <label for="">{{ mostrarInfoUser!.correo  }}</label> &nbsp;
                </div>
            </div>

        </div>
    </div>
</div>