<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let items of ingresosEgresosDetalle | ordenIngreso">
                            <td>{{ items.descripcion }}</td>
                            <td>{{ items.monto | currency}}</td>
                            <td [class.text-success]="items.tipo === 'ingreso'" [class.text-danger]="items.tipo === 'egreso'">
                                {{ items.tipo }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="EliminarIngresoEgreso( items.uid )">
                                    <i class="fa fa-trash"></i>Borrar
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div *ngFor="let item of arrayNombres ">
                    <label for="">{{ item.Nombre | Upper  }}</label>&nbsp;
                    <label for="">{{ item.Apellido | Upper }}</label>
                </div>
                <div *ngFor="let item of arrayNombres | ordenParameters: false ">
                    <label for="">{{ item.Nombre   }}</label>&nbsp;
                    <label for="">{{ item.Apellido | Upper }}</label>
                </div>
            </div>
        </div>
    </div>
</div>